---
import Container from '@/components/Container.astro'
import { SITE } from '@/consts'
import Layout from '@/layouts/Layout.astro'
---

<Layout title="About" description={SITE.DESCRIPTION}>
  <Container class="flex flex-col gap-y-6">

    <section>
      <div class="min-w-full">
        <h1 class="mb-4 text-3xl font-bold">About me</h1>
        <p class="prose prose-neutral mb-8 dark:prose-invert">
          Me == ܝܰܘܣܶܦ  (Aramean), ジョセフ (Japanease) and i made this because i got tired of notes. Pathing my way back to machine learning and AI but also not leaving cloud developement/infra. So MLOps perhaps...
        </p>

        <p class="prose prose-neutral mb-8 dark:prose-invert">
          Im writing this on my NixOS laptop completely riced to the roof.
          But im thinking about switching over to ARM64 since the M3 looks insane.
        </p>

        <p class="prose prose-neutral mb-8 dark:prose-invert">
          “Why are you the way that you are?” — Michael Scott, The Office
        </p>

        <div class="grid gap-6 sm:grid-cols-2 lg:grid-cols-3">
        </div>
    
        <p class="prose prose-neutral mb-8 dark:prose-invert">
          Here is some links to a few projects, tools, companies and people that i like
        </p>
    <div class="grid gap-6 sm:grid-cols-2 lg:grid-cols-3">
      <ul class="list-disc list-inside prose prose-neutral dark:prose-invert">
        <li>
          <a 
            href="https://char.blog/" 
            class="prose prose-neutral mb-8 dark:prose-invert hover:underline"
            target="_blank"
            rel="noopener noreferrer"
          >
            1λ.com
          </a>
        </li>
        <li>
          <a 
            href="https://openai.com/12-days/" 
            class="prose prose-neutral mb-8 dark:prose-invert hover:underline"
            target="_blank"
            rel="noopener noreferrer"
          >
            OpenAI
          </a>
        </li>
        <li>
          <a 
            href="https://tinygrad.org/#tinygrad" 
            class="prose prose-neutral mb-8 dark:prose-invert hover:underline"
            target="_blank"
            rel="noopener noreferrer"
          >
            tinygrad
          </a>
        </li>
        <li>
          <a 
            href="https://ethereum.org/en/" 
            class="prose prose-neutral mb-8 dark:prose-invert hover:underline"
            target="_blank"
            rel="noopener noreferrer"
          >
            Ethereum
          </a>
        </li>
        <li>
          <a 
            href="https://unstructured.io/" 
            class="prose prose-neutral mb-8 dark:prose-invert hover:underline"
            target="_blank"
            rel="noopener noreferrer"
          >
          Unstructured
          </a>
        </li>
        <li>
          <a 
            href="https://karpathy.ai/" 
            class="prose prose-neutral mb-8 dark:prose-invert hover:underline"
            target="_blank"
            rel="noopener noreferrer"
          >
          Andrej Karpathy
          </a>
        </li>
        <li>
          <a 
            href="https://yacine.ca/" 
            class="prose prose-neutral mb-8 dark:prose-invert hover:underline"
            target="_blank"
            rel="noopener noreferrer"
          >
          Yacine
          </a>
        </li>
        <li>
          <a 
            href="https://github.com/alex/what-happens-when" 
            class="prose prose-neutral mb-8 dark:prose-invert hover:underline"
            target="_blank"
            rel="noopener noreferrer"
          >
          What happens when...
          </a>
        </li>
      </ul>
    </div>
      </div>
    </section>
  </Container>
</Layout>
